.about-you {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    margin: 0 40px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.about-you__title {
  position: relative;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  margin: 0;
  margin-bottom: 33px;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 76px;
  }

  @media (min-width: $desktop-width) {
    margin: 41px 0 75px;
  }
}

.about-you__title::before {
  content: "";
  position: absolute;

  top: 15px;
  right: -20px;

  width: 99px;
  height: 3px;
  background-color: #68b738;

  @media (min-width: $tablet-width) {
    width: 145px;
    height: 3px;

    top: 22px;
    right: -70px;
  }

  @media (min-width: $desktop-width) {
    width: 100vw;
    height: 3px;

    top: 22px;
    right: 0;
    left: 553px;
  }
}

.about-you__title::after {
  @media (min-width: $tablet-width) {
    content: "";
    position: absolute;

    width: 30px;
    height: 3px;
    background-color: #68b738;

    top: 22px;
    left: -70px;
  }

  @media (min-width: $desktop-width) {
    width: auto;
    height: 3px;

    top: 22px;
    right: calc(100% + 40px);
    left: -50%;
  }
}

.about-you__wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.about-you__field {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;

  @media (min-width: $tablet-width) {
    margin-bottom: 18px;
  }

  @media (min-width: $desktop-width) {
    width: 570px;
  }
}

.about-you__type {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }
}

.about-you__type--email {
  width: 52px;

  @media (min-width: $tablet-width) {
    width: 71px;
  }
}

.about-you__type--tel {
  width: 77px;
  padding-top: 5px;

  @media (min-width: $tablet-width) {
    width: 96px;
  }
}

.about-you__value {
  width: 100%;
  height: 45px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  outline: none;

  &:hover,
  &:focus {
    opacity: 1;
  }

  &:active {
    opacity: 1;
    border-color: #000000;
  }

  &:invalid {
    opacity: 1;
    border-color: #ff8282;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    height: 52px;
  }
}

.about-you__value--email {
  width: 219px;
  padding-left: 12px;

  @media (min-width: $tablet-width) {
    width: 551px;
    padding-left: 23px;
  }

  @media (min-width: $desktop-width) {
    width: 486px;
    padding-left: 17px;
  }
}

.about-you__value--tel {
  width: 204px;
  padding-left: 12px;
  padding-top: 5px;

  @media (min-width: $tablet-width) {
    width: 535px;
    padding-left: 20px;
    padding-top: 2px;
  }

  @media (min-width: $desktop-width) {
    width: 472px;
    padding-left: 18px;
    padding-top: 2px;
  }
}

.about-you__mail {
  position: absolute;
  right: 16px;
  top: 16px;

  @media (min-width: $tablet-width) {
    top: 20px;
  }

  @media (min-width: $desktop-width) {
    top: 21px;
    right: 20px;
  }
}

.about-you__phone {
  position: absolute;
  right: 14px;
  top: 16px;

  @media (min-width: $tablet-width) {
    top: 20px;
  }

  @media (min-width: $desktop-width) {
    top: 18px;
    right: 20px;
  }
}

.about-you__mail:active {
  fill: #68b738;
}
