.add-info {
  margin-bottom: 38px;

  @media (min-width: $tablet-width) {
    margin: 62px 40px;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    margin: 40px 55px;
  }
}

.add-info__title {
  position: relative;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  margin: 0;
  margin-bottom: 42px;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 66px;
  }
}

.add-info__title::before {
  content: "";
  position: absolute;

  top: 15px;
  right: -20px;

  width: 136px;
  height: 3px;
  background-color: #68b738;
}

.add-info__list {
  padding: 0;
  margin: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.checkbox {
  margin: 0;
  margin-bottom: 22px;
  margin-left: 13px;

  @media (min-width: $tablet-width) {
    width: 240px;
    margin-bottom: 50px;
    margin-left: 0;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    width: 20%;
    margin: 0;
  }
}

.checkbox input[type="checkbox"] {
  opacity: 0;
}

.checkbox label {
  margin-left: 15px;
  position: relative;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;

  @media (min-width: $tablet-width) {
    margin: 0;
    font-size: 20px;
    line-height: 20px;
  }
}

.checkbox label::before {
  content: "";
  position: absolute;
  top: -4px;
  left: -45px;
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 1px solid;
  vertical-align: middle;
  opacity: 0.3;

  @media (min-width: $tablet-width) {
    width: 40px;
    height: 40px;
  }
}

.checkbox label::after {
  content: "";
  position: absolute;
  top: 7px;
  left: -41px;
  width: 21px;
  height: 16px;
  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.checkbox input[type="checkbox"] + label::after {
  content: none;
}

.checkbox input[type="checkbox"]:checked + label::after {
  content: "";
}
