.add-info {
  margin-bottom: 38px;

  @media (min-width: $tablet-width) {
    margin: 63px 40px 11px;
  }

  @media (min-width: $desktop-width) {
    margin: 40px 55px;
  }
}

.add-info__title {
  position: relative;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  margin: 0;
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 66px;
  }
}

.add-info__title::before {
  content: "";
  position: absolute;

  top: 15px;
  right: -20px;

  width: 136px;
  height: 3px;
  background-color: #68b738;

  @media (min-width: $tablet-width) {
    width: 446px;
    top: 22px;
    right: -70px;
  }
}

.add-info__title::after {
  @media (min-width: $tablet-width) {
    content: "";
    position: absolute;

    width: 30px;
    height: 3px;
    background-color: #68b738;

    top: 22px;
    left: -70px;
  }
}

.add-info__list {
  padding: 0;
  margin: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
  }
}

.checkbox {
  margin: 0;
  margin-bottom: 22px;
  margin-left: 13px;

  @media (min-width: $tablet-width) {
    width: 240px;
    margin-bottom: 50px;
    margin-left: 40px;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    width: 20%;
    margin: 0;
  }
}

.checkbox--sugar {
  @media (min-width: $tablet-width) {
    margin-right: 65px;
  }
}

.checkbox--milk {
  @media (min-width: $tablet-width) {
    margin-right: 65px;
  }
}

.checkbox input[type="checkbox"] {
  opacity: 0;
}

.checkbox label {
  margin-left: 15px;
  position: relative;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;

  @media (min-width: $tablet-width) {
    margin: 0;
    font-size: 20px;
    line-height: 20px;
  }
}

.checkbox label::before {
  content: "";
  position: absolute;
  top: -3px;
  left: -45px;
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 1px solid;
  vertical-align: middle;
  opacity: 0.3;

  @media (min-width: $tablet-width) {
    width: 40px;
    height: 40px;
    top: -4px;
    left: -57px;
  }
}

.checkbox label::after {
  content: "";
  position: absolute;
  top: 5px;
  left: -41px;
  width: 21px;
  height: 16px;
  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  @media (min-width: $tablet-width) {
    top: 8px;
    left: -48px;
  }
}

.checkbox input[type="checkbox"] + label::after {
  content: none;
}

.checkbox input[type="checkbox"]:checked + label::after {
  content: "";
}
