.goods__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  line-height: 24px;
  color: #000000;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
  }
}

.goods__list {
  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 45px;
  }
}

.goods__wrapper {
  @media (min-width: $desktop-width) {
    width: 75%;
  }
}

.goods__item {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 30px 30px;
  }

  @media (min-width: $desktop-width) {
    align-items: center;
    margin: 30px 0;
  }
}

.goods__item-caption {
  margin: 10px 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #000000;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    font-weight: 400;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    width: 246px;
  }
}

.goods__item-info {
  font-size: 14px;
  line-height: 14px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    width: 286px;
  }
}

.goods__item-type {
  text-align: left;

  @media (min-width: $desktop-width) {
    width: 80%;
  }
}

.goods__item-value {
  text-align: right;
  text-transform: uppercase;

  @media (min-width: $desktop-width) {
    text-align: center;
  }
}

.goods__link {
  width: 280px;
  height: 40px;
  padding: 10px 73px;
  margin-top: 10px;
  background-color: #68b738;

  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $tablet-width) {
    width: 633px;
    margin-top: 30px;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    margin: 0;
  }
}

.goods__gift {
  position: relative;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;

  min-height: 280px;

  @media (min-width: $tablet-width) {
    background-image: url("../img/gift-photo-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;
    min-height: 200px;
    margin: 76px 0;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    min-height: 289px;
    margin: 0;
    background-image: url("../img/gift-photo-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }
}

.goods__gift::before {
  content: "";
  display: block;
  position: absolute;
  background-image: url("../img/icon-gift.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  top: 65px;
  left: 115px;

  width: 55px;
  height: 60px;
}

.goods__gift-description {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;

  @media (min-width: $tablet-width) {
    width: 170px;
    text-align: left;
  }
}
