.prog-selection {
  @media (min-width: $desktop-width) {
    margin-top: 30px;
  }
}

.prog-selection__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  color: #000000;
  margin: 19px 0;

  @media (min-width: $tablet-width) {
    margin: 40px 0;
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 40px;
  }
}

.prog-selection__description {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
  margin: 25px 0;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    margin: 55px 40px;
    margin-bottom: 66px;
  }
}

.prog-selection__wrapper {
  margin-top: 40px;
  margin-bottom: 28px;

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.prog-selection__submit {
  width: 280px;
  height: 40px;
  padding: 10px 73px;
  margin-bottom: 20px;
  background-color: #68b738;

  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  border: none;

  @media (min-width: $tablet-width) {
    margin: 20px 40px;
    margin-top: 0;
  }

  @media (min-width: $tablet-width) {
    width: 568px;
    height: 52px;
    padding: 16px 143px;

    font-size: 20px;
    line-height: 20px;
  }
}

.prog-selection__text {
  width: 160px;
  margin: 0 55px;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 16px;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 16px;
    margin: 0;
  }
}
