.prog-selection {
  @media (min-width: $tablet-width) {
    margin-bottom: 57px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 56px;
    margin-bottom: 0;
  }
}

.prog-selection__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  color: #111111;
  margin: 15px 0 17px;

  @media (min-width: $tablet-width) {
    margin: 40px 0 52px;
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $desktop-width) {
    margin: 48px 0 56px;
  }
}

.prog-selection__description {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #111111;
  margin: 25px 0 26px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    margin: 55px 40px;
    margin-bottom: 66px;
  }

  @media (min-width: $desktop-width) {
    margin: 56px 0 66px;
  }
}

.prog-selection__wrapper {
  margin-top: 38px;
  margin-bottom: 28px;

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.prog-selection__input {
  padding-left: 13px;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(205, 205, 205, 0.5);

  @media (min-width: $tablet-width) {
    padding-left: 19px;
  }

  &:hover {
    border-color: rgba(205, 205, 205, 1);
  }

  &:focus {
    padding-left: 12px;
    border-width: 2px;
    border-color: rgba(68, 68, 68, 1);

    + .about-you__mail,
    + .about-you__phone {
      fill: #68b738;
    }

    @media (min-width: $tablet-width) {
      padding-left: 18px;
    }
  }
}

.prog-selection__input::-webkit-input-placeholder {
  opacity: 1;
  color: #444444;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }
}

.prog-selection__input::-moz-placeholder {
  opacity: 1;
  color: #444444;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }
}

.prog-selection__input:-moz-placeholder {
  opacity: 1;
  color: #444444;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }
}

.prog-selection__input:-ms-input-placeholder {
  opacity: 1;
  color: #444444;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }
}

.prog-selection__input:focus::-webkit-input-placeholder {
  opacity: 0;
}

.prog-selection__input:focus::-moz-placeholder {
  opacity: 0;
}

.prog-selection__input:focus:-moz-placeholder {
  opacity: 0;
}

.prog-selection__input:focus:-ms-input-placeholder {
  opacity: 0;
}

.prog-selection__input--invalid {
  padding-left: 12px;
  border-width: 2px;
  border-color: #ff8282;

  + .about-you__mail,
  + .about-you__phone {
    fill: #ff8282;
  }

  @media (min-width: $tablet-width) {
    padding-left: 18px;
  }
}

.prog-selection__footer {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    margin-top: 25px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 52px;
    margin-bottom: 60px;
  }
}

.prog-selection__submit {
  width: 280px;
  height: 40px;
  padding: 10px 73px;
  margin-bottom: 22px;
  background-color: #68b738;

  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  border: none;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    width: 283px;
    height: 52px;
    padding: 10px 53px;
    margin: 20px 40px;
    margin-top: 0;
  }

  @media (min-width: $desktop-width) {
    width: 568px;
    height: 52px;
    padding: 15px 206px;
    margin-left: 0;
    margin-right: 62px;

    font-size: 20px;
    line-height: 20px;
  }
}

.prog-selection__text {
  width: 160px;
  margin: 0 59px;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 16px;
  text-align: center;

  @media (min-width: $tablet-width) {
    width: 180px;
    font-size: 16px;
    line-height: 16px;
    margin: 0;
    margin-top: 16px;
    margin-left: 20px;
  }
}
