.about-you {
  width: 320px;
  display: flex;
  flex-direction: column;
}

.about-you__title {
  font-family: "Oswald";
  font-size: 24px;
  line-height: 24px;
  color: #000000;
  margin: 40px 0;
}

.about-you__field {
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
}

.about-you__type {
  margin-top: 8px;
  font-family: "Oswald";
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.about-you__value {
  height: 45px;
  font-family: "Oswald";
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}
