.add-info {
  width: 320px;
}

.add-info__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.checkbox {
  margin: 0;
  margin-bottom: 20px;
  margin-left: 13px;
}

.checkbox input[type="checkbox"] {
  opacity: 0;
}

.checkbox label {
  margin-left: 5px;
  position: relative;
  font-family: "Oswald";
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
}

.checkbox label::before {
  content: "";
  position: absolute;
  top: -4px;
  left: -33px;
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 1px solid;
  vertical-align: middle;
  opacity: 0.3;
}

.checkbox label::after {
  content: "";
  position: absolute;
  top: 5px;
  left: -28px;
  width: 21px;
  height: 16px;
  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.checkbox input[type="checkbox"]+label::after {
  content: none;
}

.checkbox input[type="checkbox"]:checked+label::after {
  content: "";
}
