.advantages {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
}

.advantages__title {
  margin: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  line-height: 60px;
  color: #000000;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 80px;
  }
}

.advantages__list {
  list-style: none;
  padding: 0;
  padding-left: 80px;
  margin: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;

    padding-left: 0;
  }

  @media (min-width: $desktop-width) {
    flex-wrap: nowrap;
  }
}

.advantages__item {
  @media (min-width: $tablet-width) {
    width: 307px;
    padding-top: 90px;
    margin-bottom: 140px;
  }

  @media (min-width: $desktop-width) {
    width: 325px;
  }
}

.advantages__item--profit {
  position: relative;
}

.advantages__item--profit::before {
  content: "";
  display: block;
  position: absolute;
  background-color: #68b738;

  top: -3px;
  left: -80px;

  width: 60px;
  height: 60px;

  @media (min-width: $tablet-width) {
    top: 0;
    left: 0;

    width: 80px;
    height: 80px;
  }
}

.advantages__item--profit::after {
  content: "";
  display: block;
  position: absolute;
  background-image: url("../img/advantage-leaf@1x.png");
  background-repeat: no-repeat;
  background-position: 0 0;

  top: 3px;
  left: -75px;

  width: 50px;
  height: 50px;
  z-index: 2;

  @media (min-width: $tablet-width) {
    top: 15px;
    left: 15px;
  }
}

.advantages__item--powder {
  position: relative;
}

.advantages__item--powder::before {
  content: "";
  display: block;
  position: absolute;
  background-color: #68b738;

  top: -3px;
  left: -80px;

  width: 60px;
  height: 60px;

  @media (min-width: $tablet-width) {
    top: 0;
    left: 0;

    width: 80px;
    height: 80px;
  }
}

.advantages__item--powder::after {
  content: "";
  display: block;
  position: absolute;
  background-image: url("..//img/advantage-powder@1x.png");
  background-repeat: no-repeat;
  background-position: 0 0;

  top: 3px;
  left: -75px;

  width: 50px;
  height: 50px;
  z-index: 2;

  @media (min-width: $tablet-width) {
    top: 15px;
    left: 15px;
  }
}

.advantages__item--dinner {
  position: relative;
}

.advantages__item--dinner::before {
  content: "";
  display: block;
  position: absolute;
  background-color: #68b738;

  top: -3px;
  left: -80px;

  width: 60px;
  height: 60px;

  @media (min-width: $tablet-width) {
    top: 0;
    left: 0;

    width: 80px;
    height: 80px;
  }
}

.advantages__item--dinner::after {
  content: "";
  display: block;
  position: absolute;
  background-image: url("..//img/advantage-dining@1x.png");
  background-repeat: no-repeat;
  background-position: 0 0;

  top: 3px;
  left: -75px;

  width: 50px;
  height: 50px;
  z-index: 2;

  @media (min-width: $tablet-width) {
    top: 15px;
    left: 15px;
  }
}

.advantages__item--changes {
  position: relative;
}

.advantages__item--changes::before {
  content: "";
  display: block;
  position: absolute;
  background-color: #68b738;

  top: -3px;
  left: -80px;

  width: 60px;
  height: 60px;

  @media (min-width: $tablet-width) {
    top: 0;
    left: 0;

    width: 80px;
    height: 80px;
  }
}

.advantages__item--changes::after {
  content: "";
  display: block;
  position: absolute;
  background-image: url("..//img/advantage-clock@1x.png");
  background-repeat: no-repeat;
  background-position: 0 0;

  top: 3px;
  left: -75px;

  width: 50px;
  height: 50px;
  z-index: 2;

  @media (min-width: $tablet-width) {
    top: 15px;
    left: 15px;
  }
}

.advantages__item-description {
  font-size: 14px;
  line-height: 18px;

  @media (min-width: $tablet-width) {
    width: 245px;
    font-size: 16px;
    line-height: 24px;
  }
}
