.catalog {
  width: 320px;
  padding: 0 20px;
}

.catalog__title {
  font-family: "Oswald";
  font-size: 36px;
  line-height: 60px;
  color: #000000;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.catalog__item {
  width: 280px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 24px;
}

.catalog__item-caption{
  width: 150px;
  font-family: "Oswald";
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  margin-bottom: 10px;
}

.catalog__item-info {
  width: 150px;
  font-size: 12px;
  line-height: 16px;
}

.catalog__item-type {
  text-align: left;
}

.catalog__item-value {
  text-align: right;
}

.catalog__link {
  width: 280px;
  height: 40px;
  padding: 10px 73px;
  margin-top: 25px;
  background-color: #68b738;

  font-family: "Oswald";
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
}

.catalog__item--small-chicken {
  background-image: url(..//img/chicken-small-mobile@1x.jpg);
  background-repeat: no-repeat;
  background-position: 0 -20px;
}

.catalog__item--big-chicken {
  background-image: url(..//img/chicken-big-mobile@1x.jpg);
  background-repeat: no-repeat;
  background-position: 0 -20px;
}

.catalog__item--small-fish {
  background-image: url(..//img/fish-small-mobile@1x.jpg);
  background-repeat: no-repeat;
  background-position: 0 -20px;
}

.catalog__item--big-fish {
  background-image: url(..//img/fish-big-mobile@1x.jpg);
  background-repeat: no-repeat;
  background-position: 0 -20px;
}

.catalog__item--small-buckwheat {
  background-image: url(..//img/buckwheat-small-mobile@1x.jpg);
  background-repeat: no-repeat;
  background-position: 0 -20px;
}

.catalog__item--big-buckwheat {
  background-image: url(..//img/buckwheat-big-mobile@1x.jpg);
  background-repeat: no-repeat;
  background-position: 0 -20px;
}

.catalog__item--small-rice {
  background-image: url(..//img/rice-small-mobile@1x.jpg);
  background-repeat: no-repeat;
  background-position: 0 -20px;
}

.catalog__show-more {
  position: relative;
  font-size: 0;
  background-color: transparent;
  border: 0;
}

.catalog__show-more::before,
.catalog__show-more::after {
  content: " ";
  position: absolute;
  top: 0px;
  left: 125px;
  width: 30px;
  height: 2px;
  background-color: #d3d3d3;
}

.catalog__show-more::before {
  transform: rotate(90deg);
}

.catalog__more-goods {
  width: 280px;
  padding: 0 20px;
  font-family: "Oswald";
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #000000;
  margin-top: 30px;
  text-align: center;
}

.catalog__more-tastes {
  width: 280px;
  padding: 0 20px;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
}

.catalog__show-all {
  width: 280px;
  height: 40px;
  padding: 10px 73px;
  background-color: #f2f2f2;

  font-family: "Oswald";
  font-size: 16px;
  line-height: 20px;
  color: #444444;
  text-transform: uppercase;
  text-align: center;
  border: none;
}
