.programs__header {
  position: relative;

  background-image: url("..//img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;

  min-height: 305px;

  font-family: "Oswald";
  color: #ffffff;
}

.programs__header::before {
  content: "";
  display: block;
  position: absolute;
  background-image: url("..//img/index-can-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: 0 0;

  top: 167px;
  left: 20px;

  width: 280px;
  height: 271px;
}

.programs__title {
  width: 320px;
  padding: 0 30px;
  padding-top: 30px;
  padding-bottom: 23px;
  margin: 0;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  text-align: center;
}

.programs__description {
  width: 320px;
  padding: 0px 30px;
  margin: 0;
  margin-bottom: 300px;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
}

.programs__choise {
  width: 280px;
  height: 40px;
  padding: 10px 73px;
  margin: 20px 20px;
  background-color: #68b738;

  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
}
