$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1300px;

@font-face {
  font-family: "Oswald";
  src: url("..//fonts/oswaldregular.woff2") format("woff2"),
         url("..//fonts/oswaldregular.woff") format("woff");
 }
